.palestrantes {
    width: 90%;
    height: 100%;
    background: #DED4EC;
    padding-left: 10%;
}

.title {
    width: 100%;
    height: 100%;
    color: #4A00A9;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    margin-left: 15px;
    margin-top: 90px;
}

.row {
    width: 100%;
    height: 100%; 
    transform: rotate(-0.64deg); 
    transform-origin: 0 0; 
    border: 0.50px #4A00A9 solid"
}

.container-title {
    width: 268px;
    margin-left: 125px;
}

.container-prime {
    margin-left: 335px;
    margin-top: 50px;
}

.container-seg {
    margin-left: 335px;
    margin-top: 80px;
}

.container-palestrantes {
    display: flex;
}

.title-prime {
    width: 100%;
    height: 100%;
    color: #4A00A9;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.container-text {
    width: 1212px;
    height: 164px;
    background: #F0F0F0;
    border-radius: 30px;
    display: flex;
    margin-top: 53px;
    margin-left: -90px;
    position: relative;
    z-index: 1;
}

.container-selector {
    width: 400px;
}

.container-sobre-mim {
    width: 593px;
    margin-left: 100px;
    margin-top: 23px;
}

.sobre-mim {
    width: 100%;
    height: 100%; 
    text-align: justify;
    color: #462446; 
    font-size: 10px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}

.container-desc {
    display: flex;
    padding-top: 26px;
    padding-left: 114px;
}

.descritivo {
    color: #4A00A9;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.valor {
    color: #462446;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 10px;
}

.valor1 {
    color: #462446;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 10px;
}

.container-image {
    width: 185px;
    height: 185px;
    border-radius: 92px;
    background-color: #462446;
    margin-top: 43px;
    position: relative;
    z-index: 2;
}


@media screen and (max-width: 720px) {
.palestrantes {
    background: #DED4EC;
}

.title {
    width: 100%;
    height: 100%;
    color: #4A00A9;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    margin-left: -138px;
    margin-top: 20px;
}

.container-title {
    width: 268px;
}

.row {
    width: 0;
}

.container-prime {
    margin-left: 0;
    margin-top: 30px;
}

.container-desc {
    display: block;
    padding-top: 8px;
    padding-left: 100px;
}

.title-prime {
    width: 100%;
    height: 100%;
    color: #4A00A9;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    margin-left: -6%;
    margin-top: -2%;
    margin-bottom: 6%;
}

.valor {
    color: #462446;
    font-size: 7px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 40px;
    margin-top: -12px;
    width: 120px;
}

.valor1 {
    color: #462446;
    font-size: 7px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 55px;
    margin-top: -12px;
    width: 120px;
}

.descritivo {
    color: #4A00A9;
    font-size: 7px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    width: 60px;
}

    
.container-text {
    width: 280px;
    border-radius: 30px;
    display: flex;
    margin-left: -90px;
    height: 120px;
    margin-top: -2%;
}

.container-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #462446;
    margin-top: -12px;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    margin-left: -50px;
}

.container-sobre-mim {
    width: 230px;
    margin-left: -130px;
    margin-top: 57px;
}

.sobre-mim {
    width: 160px;
    height: 100%;
    text-align: justify;
    color: #462446;
    font-size: 3.5px;
    margin-top: -6px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: -45px;
}

.container-seg {
    margin-left: 0px;
    margin-top: 20px;
}
}

@media screen and (max-width: 400px) {
    .title {
        width: 100%;
        height: 100%;
        color: #4A00A9;
        font-size: 20px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
        margin-left: -105px;
        margin-top: 20px;
    }

    .title-prime {
        width: 100%;
        height: 100%;
        color: #4A00A9;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
        margin-left: -5%;
        margin-top: -2%;
        margin-bottom: 6%;
    }

    .container-image {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: #462446;
        margin-top: -1px;
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        margin-left: -30px;
    }

    .container-text {
        width: 223px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        margin-left: -75px;
        height: 80px;
        margin-top: -0.1%;
    }

    .container-desc {
        display: block;
        padding-top: 7px;
        padding-left: 85px;
    }

    .descritivo {
        color: #4A00A9;
        font-size: 5px;
    }

    .valor {
        font-size: 5px;
        margin-left: 25px;
        margin-top: -8px;
    }

    .valor1 {
        font-size: 5px;
        margin-left: 36px;
        margin-top: -8px;
    }

    .container-desc {
        display: block;
        padding-top: 7px;
        padding-left: 85px;
        margin-bottom: -5px;
    }

    .container-sobre-mim {
        width: 230px;
        margin-left: -110px;
        margin-top: 39.5px;
    }

    .sobre-mim {
        width: 130px;
        font-size: 3.2px;
        margin-top: -10px;
        margin-left: -50px;
    }
}



