body{
    font-family: Poppins !important;
}




































.programacao, .inscricao{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.divMaiorProgramacao{
    display: grid;
    width: 17rem;
    
    grid-template-areas: 
    "tituloProgramacao"
    "subTituloProgramacao"
    "horarios"
    "horarios"
    "imagem21"
    "imagem21"
    "imagem21"
    ;
    
}

.tituloProgramacao{
    grid-area: tituloProgramacao;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    row-gap: 20px;
}

.tituloProgramacao > p{
    color: #4A00A9;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subTituloProgramacao{
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.subTituloProgramacao > p{
    color: #4A00A9;
    font-size: 10px;
    font-weight: 600;
    word-wrap: break-word
}

hr{
    height: 1px;
    width: 100%;
    background:#4A00A9;
    border:none
}

.horarios{
    grid-area:horarios;
    display: flex;
    flex-direction: column;

}

.horarios > ul{
    margin-top: 30px;
}

.horarios > ul > li{
    border: gray ;
    border-radius: 5px;
    background: rgba(74.42, 0, 169.14, 0.07);
    color: #4A00A9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.horarios > ul > li > span {
    width: 90%;
    font-weight: bolder;
}

.dias{ 
    font-size: 30px; 
    height: 5rem;
}

.dias > span{
    width: 90%;
}

.horariosItens{ 
    font-size: 14px; 
    height: 3.5rem;
}

.horariosItens > span{
    width: 90%;
}

.imagem21{
    grid-area: imagem21;
    height: 15rem;
    width: 17rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.inscricao{
    flex-direction: column;
    align-items: center;
    
}

  .divMaiorInscricao{
    display: grid;
    justify-items: center;
    width: 17rem;
    
    grid-template-areas: 
    "tituloInscricao"
    "textoInscricao"
    "textoInscricao"
    "textoInscricao"
    ;
    
}

  .tituloInscricao {
    grid-area: tituloInscricao;
    display: flex;
    width: 12rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .tituloInscricao > p{
    color: #4A00A9;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoInscricao{
    grid-area: textoInscricao;
}

.textoInscricao > p {
    color: #462446;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    text-align: justify;
}

.imagem22{
    margin-top: 3rem;
    width: 15rem;
    height: 15rem;
}

.QRcode{
    margin-top: 3rem;
    padding: 15px;
    background-color: #DED4EC;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 5px;
}

.QRcodeImg{
    width: 12rem;
    height: 12rem;
}

.QRcodeButton{
    background: #4A00A9; 
    border-radius: 5px
}

.QRcodeButton > p{
    color: white;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word 
}

.footer{
    width: 100%; 
    height: 100%; 
    background: #4A00A9;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    
}

.oferecimento{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logoSeminario{
    margin-top: 1.3rem;
}

.direitosReservados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.direitosReservados > p {
    color: white;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    width: 10rem;
    text-align:center;
}

.ufra{
    color: white;
    font-size: 16px;
    word-wrap: break-word
}

@media screen and (min-width: 767px) {
    .programacao {
        justify-content:start;
    }

    .divMaiorProgramacao {
        width: 100%;
        height: 23rem;
        
        grid-template-areas: 
            "tituloProgramacao tituloProgramacao"
            "subTituloProgramacao subTituloProgramacao"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21";
            padding: 0px 30px;
        
    }

    .tituloProgramacao {
        grid-area: tituloProgramacao;
        align-self: start; /* Posiciona no canto superior */
        justify-self: start; /* Posiciona no canto esquerdo */
    }

    .horarios {
        flex-direction:row;
    }
    

    .horarios >ul {
        width: 28%;
    }

    .horarios > ul > li > span {
        width: 90%;
        font-weight: bolder;
        
    }

    .dias{ 
        font-size: 20px;
        height: 3rem;
    }

    .listaDiaPri{
        margin-right: 5%;
    }

    .horarios > ul {
        margin-top: 10px;
    }

    .horarios > ul > li {
        margin-bottom: 10px;
    }

    .horariosItens{ 
        font-size: 10px; 
        height: 2.5rem;
    }

    .imagem21{
        margin-top: 0rem;
        height: 80%;
    }

    .inscricao{
        align-items: start;
        flex-direction: row;
        padding: 0px 0px 0px 30px;
        justify-content: start;
        width: auto;
        
    }

    .divMaiorInscricao{
        justify-items: start;
        padding: 0px 30px 0px 0px;
        width: 68%;
    }

    .tituloInscricao{
        align-items: start;
        
    }

    .QRcodeButton > p{
        font-size: 16px;
    }

    .divImagem22{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .imagem22 {
        margin-top: 3rem;
        width: 20rem;
        height: 20rem;


    
}

/* Media query para desktops (largura mínima de 1024px) */
@media screen and (min-width: 1023px) {
    .divMaiorProgramacao {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
        grid-template-areas: 
            "tituloProgramacao tituloProgramacao"
            "subTituloProgramacao subTituloProgramacao"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21";
            padding: 0px 30px;
        
    }

    .horarios >ul {
        width: 28%;
    }

    .dias{ 
        font-size: 30px;
        height: 4rem;
    }

    .horariosItens{ 
        font-size: 15px; 
        height: 3rem;
    }

    .imagem21{
        margin-left: 5%;
        height: 92%;
    }

    .inscricao {
        justify-content: start;
        width: auto;
    }

    .divMaiorInscricao{
        padding: 0px 5% 0px 0px;
        width: 68%;
    }

    .QRcode{
        padding: 20px;
    }

    }
}