body{
    font-family: Poppins !important;
}




































.programacao{ 
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.divMaiorProgramacao{
    display: grid;
    width: 17rem;
    
    grid-template-areas: 
    "tituloProgramacao"
    "subTituloProgramacao"
    "horarios"
    "horarios"
    "imagem21"
    "imagem21"
    "imagem21"
    ;
    
}

.tituloProgramacao{
    grid-area: tituloProgramacao;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    row-gap: 20px;
}

.tituloProgramacao > p{
    color: #4A00A9;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subTituloProgramacao{
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.subTituloProgramacao > p{
    color: #4A00A9;
    font-size: 10px;
    font-weight: 600;
    word-wrap: break-word
}

hr{
    height: 1px;
    width: 100%;
    background:#4A00A9;
    border:none
}

.horarios{
    grid-area:horarios;
    display: flex;
    flex-direction: column;

}

.horarios > ul{
    margin-top: 30px;
}

.horarios > ul > li{
    border: gray ;
    border-radius: 5px;
    background: rgba(74.42, 0, 169.14, 0.07);
    color: #4A00A9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.horarios > ul > li > span {
    width: 90%;
    font-weight: bolder;
}

.dias{ 
    font-size: 30px; 
    height: 5rem;
}

.dias > span{
    width: 90%;
}

.horariosItens{ 
    font-size: 14px; 
    height: 3.5rem;
}

.horariosItens > span{
    width: 90%;
}

.imagem21{
    grid-area: imagem21;
    height: 15rem;
    width: 17rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}


/* Media query para tablets (largura mínima de 768px) */
@media screen and (min-width: 767px) {
    .programacao {
        justify-content:start;
    }

    

    .divMaiorProgramacao {
        width: 100%;
        height: 23rem;
        
        grid-template-areas: 
            "tituloProgramacao tituloProgramacao"
            "subTituloProgramacao subTituloProgramacao"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21";
            padding: 0px 30px;
        
    }

    .tituloProgramacao {
        grid-area: tituloProgramacao;
        align-self: start; /* Posiciona no canto superior */
        justify-self: start; /* Posiciona no canto esquerdo */
    }

    .horarios {
        flex-direction:row;
    }
    

    .horarios >ul {
        width: 28%;
    }

    .horarios > ul > li > span {
        width: 90%;
        font-weight: bolder;
        
    }

    .dias{ 
        font-size: 20px;
        height: 3rem;
    }

    .listaDiaPri{
        margin-right: 5%;
    }

    .horarios > ul {
        margin-top: 10px;
    }

    .horarios > ul > li {
        margin-bottom: 10px;
    }

    .horariosItens{ 
        font-size: 10px; 
        height: 2.5rem;
    }

    .imagem21{
        margin-top: 0rem;
        height: 80%;
    }






    
}

/* Media query para desktops (largura mínima de 1024px) */
@media screen and (min-width: 1023px) {
    .divMaiorProgramacao {
        width: 100%;
        height: 23rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
        grid-template-areas: 
            "tituloProgramacao tituloProgramacao"
            "subTituloProgramacao subTituloProgramacao"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21";
            padding: 0px 30px;
        
    }

    .horarios >ul {
        width: 28%;
    }

    .dias{ 
        font-size: 30px;
        height: 4rem;
    }

    .horariosItens{ 
        font-size: 15px; 
        height: 3rem;
    }

    .imagem21{
        margin-left: 5%;
        height: 92%;
    }
}