body{
    font-family: Poppins !important;
}
/* CABEÇALHO */
html{
    scroll-behavior: smooth;
}
.cabecalho{
    background: #DED4EC;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.cabecalho header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    flex-direction: column;
}
.cabecalho header ul{
    display: flex;
    list-style: none;
}
.cabecalho header nav ul li a{
    text-align: none;
    color: #4A00A9;
    padding: 3px;
    transition: .3s;
    text-decoration: none;
    font-weight: 200;
    font-size: 10px;
}
.cabecalho header nav ul li a:hover{
    color: #75578a;
}
.responsivo{
    background-color: #211e26;
    color: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.logo1{
    height: 2rem;
    width:5rem;
    /* margin-left: 2rem; */
}

/* INICIO */
.home{
    background-color: #F0F0F0;
    margin: auto;
    display: grid;
    padding-top: 6rem;
    justify-content: center;
    justify-items: center;
    flex-basis: auto;
}
.pageHome{
    padding-bottom: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.inicio{
    color: #4A00A9;
    text-align: justify;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 0.5rem;
}
.subtituloInicio{
    width: 17rem;
    height: 15px;
    flex-shrink: 0;
}
.subtituloInicio h2{
    color: #4A00A9;
    font-size: 10px;
    font-weight: 600;
    text-align: justify;
}
.subtituloInicio span{
    color: #4A00A9;
    font-weight: 400;
}
.textoInicio{
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
}
.textoInicio p{
    color: #462446;
    text-align: justify;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 10px;
}

.textoInicio span{
    color: #462446;
    font-size: 10px;
    font-weight: 600;
}
.local{
    margin-top: 2rem;
    text-align: justify;
    flex-shrink: 0;
}
.local li{
    color: #462446;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.local span{
    color: #4A00A9;
    font-size: 11px;
    font-weight: 600;
}

.evento{
    color: #4A00A9;
    text-align: justify;
    font-size: 12px;
    font-weight: 600;
    margin: 1rem 0rem;
}

.botaoInicio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.botaoI{
    margin-top: 1.5rem;
    background: #4A00A9; 
    border-radius: 5px;
    width: 9rem;
    transition: transform 0.3s, background-color 0.3s;
}

.botaoI:hover{
    background-color: #2E0075;
    transform: scale(1.1);
}

.botaoI > p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word 
}
.publico{
    color: #462446;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* SOBRE O EVENTO */

.sobre{
    background-color: #DED4EC;
    margin: auto;
    text-align: center;
    padding: 1rem 0rem;
    
}
.pagSobre, .sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.duvidas{
    color: #4A00A9;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.subTituloDuvidas{
    padding-top: 1rem;
    color: #4A00A9;
    font-size: 10px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subTituloDuvidas span{
    color: #4A00A9;;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.textoSobre{
    color:#211e26;
    text-align: justify;
    margin-top: 2em;
    font-size: 1.3em;
    padding-inline: 3.5rem;
}

.textoSobre{
    font-size: 8px;
}

.pontos{
    display: flex;
    justify-content: center;
}
.imagem1Div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.banner1 {
    height: 12rem;
    width: 90%;
    align-self: flex-end;
}
.banner2 {
height: 15rem;
width: 20rem;
margin-top: 2rem;
margin-bottom: 1rem;
}

.programacao, .inscricao{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
}

.divMaiorProgramacao{
    display: grid;
    width: 17rem;
    padding: 1rem 0px;
    
    grid-template-areas: 
    "tituloProgramacao"
    "subTituloProgramacao"
    "horarios"
    "horarios"
    "imagem21"
    "imagem21"
    "imagem21"
    ;
    
}

.tituloProgramacao{
    grid-area: tituloProgramacao;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.tituloProgramacao > p{
    color: #4A00A9;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subTituloProgramacao{
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.subTituloProgramacao > p{
    color: #4A00A9;
    font-size: 10px;
    font-weight: 600;
    word-wrap: break-word
}

hr{
    height: 1px;
    width: 100%;
    background:#4A00A9;
    border:none
}

.horarios{
    grid-area:horarios;
    display: flex;
    flex-direction: column;

}

.horarios > ul{
    margin-top: 30px;
}

.horarios > ul > li{
    border: gray ;
    border-radius: 5px;
    background: rgba(74.42, 0, 169.14, 0.07);
    color: #4A00A9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.horarios > ul > li > span {
    width: 90%;
    font-weight: bolder;
}

.dias{ 
    font-size: 30px; 
    height: 5rem;
}

.dias > span{
    width: 90%;
}

.horariosItens{ 
    font-size: 14px; 
    height: 3.5rem;
}

.horariosItens > span{
    width: 90%;
}

.imagem21{
    grid-area: imagem21;
    height: 15rem;
    width: 17rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.inscricao{
    flex-direction: column;
    align-items: center;
    
}

  .divMaiorInscricao{
    display: grid;
    justify-items: center;
    width: 17rem;
    
    
    grid-template-areas: 
    "tituloInscricao"
    "textoInscricao"
    "textoInscricao"
    "textoInscricao"
    ;
    
}

  .tituloInscricao {
    grid-area: tituloInscricao;
    display: flex;
    width: 12rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .tituloInscricao > p{
    color: #4A00A9;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoInscricao{
    grid-area: textoInscricao;
}

.textoInscricao > p {
    color: #462446;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    text-align: justify;
    margin-top: 1rem;
}

.imagem22{
    margin-top: 3rem;
    width: 15rem;
    height: 15rem;
}

.QRcode{
    margin: 3rem 0rem;
    padding: 15px;
    background-color: #DED4EC;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 5px;
}

.QRcodeImg{
    width: 12rem;
    height: 12rem;
}

.QRcodeButton{
    background: #4A00A9; 
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.QRcodeButton:hover{
    background-color: #2E0075;
    transform: scale(1.1);
}

.QRcodeButton > p{
    color: white;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word 
}

.footer{
    width: 100%; 
    height: 100%; 
    background: #4A00A9;
    display: flex;
    flex-direction: column;
    
}

.oferecimento{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logoSeminario{
    margin-top: 1.3rem;
}

.direitosReservados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.direitosReservados > p {
    color: white;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    width: 10rem;
    text-align:center;
}

.ufra{
    color: white;
    font-size: 16px;
    word-wrap: break-word
}

@media screen and (min-width: 767px) {
    .cabecalho header{
        flex-direction: row;
        font-size: 20px;
    }

    .logo1{
        height: 3rem;
        width: 10rem;
    }

    .cabecalho header nav ul li a{
        font-size: 20px;
    }
    .programacao {
        justify-content:start;
    }

    .divMaiorProgramacao {
        width: 100%;
        height: 23rem;
        
        grid-template-areas: 
            "tituloProgramacao tituloProgramacao"
            "subTituloProgramacao subTituloProgramacao"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21";
            padding: 1rem 30px;
        
    }

    

    .tituloProgramacao {
        grid-area: tituloProgramacao;
        align-self: start; 
        justify-self: start; 
    }

    .horarios {
        flex-direction:row;
    }
    

    .horarios >ul {
        width: 28%;
    }

    .horarios > ul > li > span {
        width: 90%;
        font-weight: bolder;
        
    }

    .dias{ 
        font-size: 20px;
        height: 3rem;
    }

    .listaDiaPri{
        margin-right: 5%;
    }

    .horarios > ul {
        margin-top: 10px;
    }

    .horarios > ul > li {
        margin-bottom: 10px;
    }

    .horariosItens{ 
        font-size: 10px; 
        height: 2.5rem;
    }

    .imagem21{
        margin-top: 0rem;
        height: 80%;
    }

    .inscricao{
        align-items: start;
        flex-direction: row;
        padding: 0px 0px 0px 30px;
        justify-content: start;
        width: auto;
        padding-bottom: 3rem;
    }

    .divMaiorInscricao{
        justify-items: start;
        padding: 0px 30px 0px 0px;
        width: 68%;
    }

    .tituloInscricao{
        align-items: start;
        
    }

    .QRcodeButton > p{
        font-size: 16px;
    }

    .divImagem22{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .imagem22 {
        margin-top: 3rem;
        width: 20rem;
        height: 20rem;
    }

    /* PARTE DO FELPS QUE VOU AJUSTAR PRA MEDIA */
    .pageHome{
        flex-direction: row;
    }

    .inicioDiv{
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        padding-left: 2.5rem;
    }

    .inicio{
        font-size: 30px;
    }

    .textoInicio{
        width: 50%;
    }

    .imagem1Div {
        
        width: 50%;
    }
    .banner1 {
        height: 100%;
        width: 100%;
        align-self: flex-end;
    }

    .botaoInicio{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .botaoI {
        margin-top: 0rem;
    }
    .sobre{
    flex-direction: row-reverse;
    }    

    .textoSobreDiv{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .textoSobre{
        padding: 0px;
    }

    .pontos{
        justify-content: flex-start;
    }

}

@media screen and (min-width: 1023px) {
    .divMaiorProgramacao {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
        grid-template-areas: 
            "tituloProgramacao tituloProgramacao"
            "subTituloProgramacao subTituloProgramacao"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21"
            "horarios horarios horarios imagem21";
            padding: 1rem 20px;
        
    }

    .subtituloInicio {
        width: 58%;
    }
    .subtituloInicio h2 {
        font-size: 15px;
    }

    .home {
        justify-content: start;
        justify-items: start;
    }

    .textoInicio p, .textoInicio span{
        font-size: 15px;
    }
    .inicioDiv{
        padding: 20px
    }

    .local li {
        font-size: 14px;
    }

    .evento {
        font-size: 14px;
    }


    .duvidas{
        font-size: 30px !important;
    }

    .subTituloDuvidas {
        font-size: 15px;
    }

    .textoSobre {
        font-size: 12px;
    }

    .subTituloDuvidas span{
        font-size: 15px;
    }

    .banner2 {
        height: 25rem;
        width: 30rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        }

    .tituloProgramacao{
        align-items: start;
        justify-content: start;
    }

    .subTituloProgramacao{
        width: 30rem;
    }
    .tituloProgramacao > p {
        font-size: 30px;
        
    }

    .subTituloProgramacao > p {
        font-size: 20px;
    }

    .tituloInscricao {
        width: 22rem;
    }

    .tituloInscricao > p {
        font-size: 40px;
    }

    .textoInscricao > p{
        margin-top: 1rem;
        font-size: 14px;
    }

    .horarios >ul {
        width: 28%;
    }

    .dias{ 
        font-size: 30px;
        height: 4rem;
    }

    .horariosItens{
        font-size: 15px;
        height: 4rem;
    }

    .imagem21{
        margin-left: 5%;
        height: 92%;
    }

    .inscricao {
        justify-content: start;
        width: auto;
        padding: 0px 0px 0px 20px;
    }

    .divMaiorInscricao{
        padding: 0px 5% 0px 0px;
        width: 68%;
    }

    .QRcode{
        padding: 20px;
    }

    .imagem22 {
        margin-top: 3rem;
        width: 60%;
        height: 25rem;
    }

    }


    .palestrantes {
        height: 100%;
        background: #DED4EC;
        padding: 3rem 20px;
    }
    
    .title {
        width: 100%;
        height: 100%;
        color: #4A00A9;
        font-size: 30px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
        /* margin-left: 15px; */
        /* margin-top: 90px; */
    }
    
    .row {
        width: 100%;
        height: 100%; 
        transform: rotate(-0.64deg); 
        transform-origin: 0 0; 
        border: 0.50px #4A00A9 solid"
    }
    

    
    .container-prime {
        /* margin-left: 335px; */
        margin-top: 3rem;
    }
    
    .container-seg {
        margin-top: 3rem;
    }
    
    .container-palestrantes {
        display: flex;
        width: 100%;
        /* padding: -; */
    }
    
    .title-prime {
        width: 100%;
        height: 100%;
        color: #4A00A9;
        font-size: 32px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
    }

    .teste{
        width: 10rem;
        height: 10rem;
    }
    
    .container-text {
        /* FONT-WEIGHT: 200; */
        width: 100%;
        height: 10rem;
        background: #F0F0F0;
        border-radius: 30px;
        display: flex;
        margin-top: 53px;
        margin-left: -90px;
        position: relative;
        z-index: 1;
    }
    
    .container-selector {
        display: flex;
        width: 45%;
        flex-direction: column;
        justify-content: center;
    }
    
    .container-sobre-mim {
        width: 50%;
        margin-left: 1rem;
        margin-top: 23px;
    }
    
    .sobre-mim {
        width: 100%;
        height: 100%; 
        text-align: justify;
        color: #462446; 
        font-size: 10px; 
        font-family: Poppins; 
        font-weight: 500; 
        word-wrap: break-word;
    }
    
    .container-desc {
        display: flex;
        padding-top: 1.5rem;
        padding-left: 6.5rem;
        /* flex-direction: column; */
    }
    
    .descritivo {
        color: #4A00A9;
        font-size: 15px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
    }
    
    .valor {
        color: #462446;
        font-size: 15px;
        font-family: Poppins;
        font-weight: 500;
        word-wrap: break-word;
        margin-left: 10px;
    }
    
    .valor1 {
        color: #462446;
        font-size: 15px;
        font-family: Poppins;
        font-weight: 500;
        word-wrap: break-word;
        margin-left: 10px;
    }
    
    .container-image {
        /* width: 20%; */
        height:100%;
        border-radius: 92px;
        background-color: #462446;
        margin-top: 43px;
        position: relative;
        z-index: 2;
    }
    
    
    @media screen and (max-width: 768px) {
    .palestrantes {
        background: #DED4EC;
    }
    
    .title {
        width: 100%;
        height: 100%;
        color: #4A00A9;
        font-size: 20px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
        /* margin-left: -138px; */
        /* margin-top: 20px; */
    }
    
    .container-title {
        /* width: 268px; */
    }
    
    .row {
        width: 0;
    }
    
    .container-prime {
        margin-left: 0;
        margin-top: 30px;
    }
    
    .container-desc {
        padding-top: 8px;
        padding-left: 100px;
    }
    
    .title-prime {
        width: 100%;
        height: 100%;
        color: #4A00A9;
        font-size: 20px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
        /* margin-left: -6%; */
        /* margin-top: -2%; */
        margin-bottom: 6%;
    }
    
    .valor {
        color: #462446;
        font-size: 10px;
        font-family: Poppins;
        font-weight: 500;
        word-wrap: break-word;
        /* margin-left: 40px; */
        /* margin-top: -12px; */
        width: 120px;
    }
    
    .valor1 {
        color: #462446;
        font-size: 10px;
        font-family: Poppins;
        font-weight: 500;
        word-wrap: break-word;
        /* margin-left: 55px; */
        /* margin-top: -12px; */
        width: 120px;
    }
    .teste{
        width: 100%;
        height: 100%;
    }
    
    .descritivo {
        color: #4A00A9;
        font-size: 10px;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
        /* width: 60px; */
    }
    
        
    .container-text {
        width: 100%;
        border-radius: 30px;
        display: flex;
        margin-left: -90px;
        height: 120px;
        margin-top: -2%;
    }
    
    .container-image {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        background-color: #462446;
        margin-top: -12px;
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        /* margin-left: -50px; */
    }
    
    .container-sobre-mim {
        width: 50%;
        height: 90%;
        margin-left: 0px;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        justify-content: center;
    }
    
    .sobre-mim {
        /* width: 160px; */
        height: 100%;
        text-align: justify;
        color: #462446;
        font-size: 9px;
        margin-top: -6px;
        font-family: Poppins;
        font-weight: 500;
        word-wrap: break-word;
        /* margin-left: -45px; */
    }
    
    }
    
    @media screen and (max-width: 320px) {

        .palestrantes{
            padding: 1rem 20px;
        }

        .container-palestrantes {
            padding-left: 1.5rem;
        }

        .title {
            /* width: 100%; */
            height: 100%;
            color: #4A00A9;
            font-size: 20px;
            font-family: Poppins;
            font-weight: 600;
            word-wrap: break-word;
            /* margin-left: -105px; */
            /* margin-top: 20px; */
        }

        .container-selector{
            width: 60%;
        }
    
        .title-prime {
            width: 100%;
            height: 100%;
            color: #4A00A9;
            font-size: 16px;
            font-family: Poppins;
            font-weight: 600;
            word-wrap: break-word;
            margin-top: -2%;
            margin-bottom: 6%;
        }
    
        .container-image {
            width: 80px;
            height: 80px;
            border-radius: 40px;
            background-color: #462446;
            margin-top: -1px;
            position: relative;
            z-index: 2;
            margin-bottom: 30px;
            margin-left: -30px;
        }
    
        .container-text {
            width: 100%;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            margin-left: -75px;
            height: 80px;
            margin-top: -0.1%;
        }
    
        .container-desc {
            display: block;
            padding-top: 7px;
            padding-left: 80px;
        }
    
        .descritivo {
            color: #4A00A9;
            font-size: 5px;
        }
    
        .valor {
            width: 50%;
            font-size: 5px;
            margin-left: 25px;
            margin-top: -8px;
        }
    
        .valor1 {
            width: 60%;
            font-size: 5px;
            margin-left: 36px;
            margin-top: -8px;
        }
    
        .container-desc {
            display: block;
            /* padding-top: 7px; */
            /* padding-left: 85px; */
            /* margin-bottom: -5px; */
        }
    
        .container-sobre-mim {
            width: 50%;
            padding-left: 10px;
            /* margin-left: -110px; */
            /* margin-top: 39.5px; */
        }
    
        .sobre-mim {
            width: 90%;
            font-size: 4px;
            /* margin-top: -10px; */
            /* margin-left: -50px; */
        }
    
    
    
}
    
    
    

